ADDRESS {
	FONT-STYLE: normal
}
.vcard .adr .type {
	DISPLAY: none
}
.vcard .adr .fn {
	DISPLAY: block
}
.vcard .adr .street-address {
	DISPLAY: block
}
.cardList .description {
	COLOR: #0082d6; FONT-SIZE: 1.1em
}
.freeShipping {
	DISPLAY: none
}
#content {
	BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-TOP: 0px
}
#fullBanner {
	POSITION: relative; MARGIN: 0px 0px -1em -0.5em; OVERFLOW: hidden
}
#fullBanner {
	HEIGHT: 7em
}
.fullBanner {
	MARGIN-LEFT: -96em
}
.cardData {
	PADDING-LEFT: 65px
}
.card1 {
	BACKGROUND: url(../img/bgCard1.gif) no-repeat 0px 10px
}
.cardData2 SPAN {
	DISPLAY: block
}
.cardData2 .label {
	FLOAT: left; CLEAR: left; MARGIN-RIGHT: 5px
}
.title16 SPAN {
	DISPLAY: block; COLOR: #666; FONT-SIZE: 0.75em; FONT-WEIGHT: normal
}
.addressList {
	WIDTH: 49%; FLOAT: left
}
.cardList {
	MIN-HEIGHT: 250px; WIDTH: 50%; BACKGROUND: url(../img/bgVertLine.gif) no-repeat left center; FLOAT: right
}
.addressList2 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 15px; PADDING-RIGHT: 10px; PADDING-TOP: 0px
}
.cardList2 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 15px; PADDING-RIGHT: 10px; PADDING-TOP: 0px
}
.addressList .title16 {
	PADDING-BOTTOM: 20px; PADDING-LEFT: 52px; PADDING-RIGHT: 0px; BACKGROUND: url(../img/bgTitle_address.gif) no-repeat 7px 0px; PADDING-TOP: 2px
}
.addressList .ok {
	BACKGROUND: url(../img/bgTitle_address_ok.gif) no-repeat 7px 0px
}
.addressList .notSelect {
	BACKGROUND: url(../img/bgTitle_address_notSelect.gif) no-repeat 7px 0px
}
.cardList .title16 {
	PADDING-BOTTOM: 17px; PADDING-LEFT: 52px; PADDING-RIGHT: 0px; BACKGROUND: url(../img/bgTitle_card.gif) no-repeat 7px 0px; PADDING-TOP: 2px
}
.cardList .ok {
	BACKGROUND-IMAGE: url(../img/bgTitle_card_ok.gif)
}
.cardList .notSelect {
	BACKGROUND-IMAGE: url(../img/bgTitle_card_notSelect.gif)
}
.list3 LI {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: url(../img/bgDotted2.gif) repeat-x 0px 0px; PADDING-TOP: 5px
}
.list3 LI IMG {
	DISPLAY: inline
}
.list3 LI INPUT {
	MARGIN: 20px 20px 0px 14px; FLOAT: left
}
.list3 LI DIV {
	ZOOM: 1; OVERFLOW: hidden
}
.list3 .select {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 5px
}
.list3 .selected .select {
	BACKGROUND: #f3f9fd
}
.list11 {
	MARGIN-BOTTOM: 50px
}
.description {
	FONT-WEIGHT: bold; MARGIN-RIGHT: 5px
}
.newItem {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: block; BACKGROUND: url(../img/bgDotted1.gif) repeat-x 0px 0px; PADDING-TOP: 10px
}
.statusPage H1 {
	PADDING-LEFT: 10px; COLOR: #0082d6; FONT-SIZE: 1.6em
}
.statusPage H2 {
	PADDING-LEFT: 10px
}
.statusPage P {
	PADDING-LEFT: 10px
}
.statusPageList {
	PADDING-BOTTOM: 50px; MARGIN-TOP: 20px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; ZOOM: 1; BACKGROUND: url(../img/bgPage1.gif) repeat-x 0px 0px; OVERFLOW: hidden; PADDING-TOP: 25px
}
.activeConfirmation {
	PADDING-BOTTOM: 50px; MARGIN-TOP: 20px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; ZOOM: 1; BACKGROUND: url(../img/bgPage1.gif) repeat-x 0px 0px; OVERFLOW: hidden; PADDING-TOP: 25px
}
.createEditAddress {
	PADDING-BOTTOM: 50px; MARGIN-TOP: 20px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; ZOOM: 1; BACKGROUND: url(../img/bgPage1.gif) repeat-x 0px 0px; OVERFLOW: hidden; PADDING-TOP: 25px
}
.createEditCard {
	PADDING-BOTTOM: 50px; MARGIN-TOP: 20px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; ZOOM: 1; BACKGROUND: url(../img/bgPage1.gif) repeat-x 0px 0px; OVERFLOW: hidden; PADDING-TOP: 25px
}
.parcel {
	PADDING-BOTTOM: 50px; MARGIN-TOP: 20px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; ZOOM: 1; BACKGROUND: url(../img/bgPage1.gif) repeat-x 0px 0px; OVERFLOW: hidden; PADDING-TOP: 25px
}
.customerInfo#content #Form1 {
	PADDING-BOTTOM: 50px; MARGIN-TOP: 20px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; ZOOM: 1; BACKGROUND: url(../img/bgPage1.gif) repeat-x 0px 0px; OVERFLOW: hidden; PADDING-TOP: 25px
}
.giftForm {
	PADDING-BOTTOM: 50px; MARGIN-TOP: 20px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; ZOOM: 1; BACKGROUND: url(../img/bgPage1.gif) repeat-x 0px 0px; OVERFLOW: hidden; PADDING-TOP: 25px
}
P.type2 {
	TEXT-ALIGN: center
}
UL.buttons {
	TEXT-ALIGN: center
}
UL.buttons LI {
	MARGIN: 0px 15px; DISPLAY: inline
}
.oneClickBuyBar {
	POSITION: relative; PADDING-BOTTOM: 10px; MARGIN: 20px; PADDING-LEFT: 115px; WIDTH: 574px; PADDING-RIGHT: 10px; ZOOM: 1; BACKGROUND: url(../img/bg1ClickBarCheckout.gif) no-repeat 0px 0px; OVERFLOW: hidden; PADDING-TOP: 60px
}
.oneClickBuyBar FIELDSET INPUT {
	FLOAT: left; MARGIN-RIGHT: 5px
}
.oneClickBuyBar FIELDSET LABEL {
	FONT-SIZE: 12px
}
.oneClickBuyBar FIELDSET LABEL STRONG {
	DISPLAY: block
}
.oneClickBuyBar FIELDSET A {
	COLOR: #666; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
#content .oneClickBuyBar .seeMore {
	POSITION: absolute; COLOR: #fff; FONT-SIZE: 10px; TOP: 32px; RIGHT: 13px
}
INPUT.type1 {
	WIDTH: 100px
}
INPUT.type2 {
	WIDTH: 250px
}
INPUT.type3 {
	WIDTH: 70px
}
INPUT.type4 {
	WIDTH: 140px
}
INPUT.type5 {
	WIDTH: 380px
}
INPUT.type6 {
	WIDTH: 320px
}
INPUT.type7 {
	WIDTH: 35px
}
.buttons .type1 {
	WIDTH: auto !important
}
.buttons .type2 {
	WIDTH: auto !important
}
.createEditAddress {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 25px; PADDING-RIGHT: 25px; PADDING-TOP: 35px
}
.createEditAddress FIELDSET UL LI {
	ZOOM: 1; MARGIN-BOTTOM: 5px; OVERFLOW: hidden
}
.createEditAddress LABEL {
	TEXT-ALIGN: right; PADDING-BOTTOM: 7px; PADDING-LEFT: 0px; WIDTH: 260px; PADDING-RIGHT: 5px; FLOAT: left; FONT-SIZE: 1.1em; PADDING-TOP: 0px
}
.createEditAddress .label {
	TEXT-ALIGN: right; PADDING-BOTTOM: 7px; PADDING-LEFT: 0px; WIDTH: 260px; PADDING-RIGHT: 5px; FLOAT: left; FONT-SIZE: 1.1em; PADDING-TOP: 0px
}
.createEditAddress LABEL .desc {
	DISPLAY: block; FONT-SIZE: 1em
}
.createEditAddress .desc {
	FONT-SIZE: 1.1em
}
.createEditAddress .postalCode {
	BORDER-BOTTOM: #eaeaea 1px solid; BORDER-LEFT: #eaeaea 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; BACKGROUND: #fbfbfb; BORDER-TOP: #eaeaea 1px solid; BORDER-RIGHT: #eaeaea 1px solid; PADDING-TOP: 2px
}
.createEditAddress .postalCode LABEL {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 240px; PADDING-RIGHT: 22px; COLOR: #4ca7e2; PADDING-TOP: 0px
}
.createEditAddress A {
	COLOR: #4ca7e2; TEXT-DECORATION: underline
}
.createEditAddress .addressId LABEL {
	PADDING-BOTTOM: 0px; MARGIN-TOP: -3px
}
.createEditAddress .international LABEL {
	PADDING-BOTTOM: 0px; MARGIN-TOP: -3px
}
.createEditAddress .required LABEL {
	FONT-WEIGHT: bold
}
.createEditAddress .address {
	
}
.createEditAddress .number {
	PADDING-LEFT: 5px; WIDTH: auto; FLOAT: none
}
.createEditAddress .complement {
	CLEAR: left
}
.createEditAddress LI.config {
	POSITION: relative; HEIGHT: 0px; OVERFLOW: visible
}
.createEditAddress .config DIV.roundCornerBR {
	PADDING-BOTTOM: 1em
}
.createEditAddress .config .label {
	WIDTH: 248px
}
.createEditAddress .config LABEL {
	WIDTH: auto
}
.createEditAddress .config INPUT {
	FLOAT: left; MARGIN-RIGHT: 5px
}
.titleAddress {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 52px; PADDING-RIGHT: 0px; BACKGROUND: url(../img/bgTitleEndereco.gif) no-repeat 10px 0px; PADDING-TOP: 2px
}
.titleAddress P {
	MARGIN: 0px; PADDING-LEFT: 5px; FONT-SIZE: 1.2em
}
.createEditAddress .boxMoreInfo .box6 {
	WIDTH: 20em; LEFT: -9.4em
}
.createEditCard {
	PADDING-BOTTOM: 25px; ZOOM: 1
}
.createEditCard FIELDSET {
	MARGIN-BOTTOM: 25px
}
.createEditCard .cardInfo {
	MARGIN-BOTTOM: 35px
}
.list9 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 40px; PADDING-RIGHT: 5px; ZOOM: 1 !important; OVERFLOW: hidden; PADDING-TOP: 0px
}
.list9 LI {
	POSITION: relative; WIDTH: 12.5%; ZOOM: 1; FLOAT: left; OVERFLOW: hidden
}
.list9 LI.col01 {
	LEFT: -35px
}
.list9 LI.col02 {
	LEFT: -30px
}
.list9 LI.col03 {
	LEFT: -25px
}
.list9 LI.col04 {
	LEFT: -20px
}
.list9 LI.col05 {
	LEFT: -15px
}
.list9 LI.col06 {
	LEFT: -10px
}
.list9 LI.col07 {
	LEFT: -5px
}
.list9 LI.col08 {
	LEFT: 0px
}
.list9 LI LABEL {
	POSITION: relative; TEXT-ALIGN: center; PADDING-BOTTOM: 13px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: block; OVERFLOW: hidden; PADDING-TOP: 0px
}
.list9 LI STRONG {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-LEFT: 0px; WIDTH: 65px; PADDING-RIGHT: 0px; DISPLAY: block; BACKGROUND: url(../img/cardsSprite.png) no-repeat 0px 0px; FONT-SIZE: 1.1em; OVERFLOW: visible; PADDING-TOP: 35px
}
.list9 LI STRONG.cSubAura {
	BACKGROUND-POSITION: 7px 0px
}
.list9 LI STRONG.cSubMc {
	BACKGROUND-POSITION: -52px 0px
}
.list9 LI STRONG.cVisa {
	BACKGROUND-POSITION: -112px 0px
}
.list9 LI STRONG.cHiper {
	BACKGROUND-POSITION: -172px 0px
}
.list9 LI STRONG.cMc {
	BACKGROUND-POSITION: -232px 0px
}
.list9 LI STRONG.cDiners {
	BACKGROUND-POSITION: -292px 0px
}
.list9 LI STRONG.cAmex {
	BACKGROUND-POSITION: -352px 0px
}
.list9 LI STRONG.cAura {
	BACKGROUND-POSITION: -412px 0px
}
.list9 LI STRONG.cVisa {
	PADDING-TOP: 40px
}
.list9 LI STRONG.cHiper {
	PADDING-TOP: 40px
}
.list9 LI STRONG.cMc {
	PADDING-TOP: 40px
}
.list9 LI STRONG.cDiners {
	PADDING-TOP: 40px
}
.list9 LI STRONG.cAura {
	PADDING-TOP: 40px
}
.list9 LI .radio {
	WIDTH: 12px; BOTTOM: 0px; HEIGHT: 12px; LEFT: 50%
}
.list10 {
	LIST-STYLE-TYPE: none; ZOOM: 1 !important
}
.list10 LI {
	MARGIN: 0px 0px 2px
}
.cardInfo LABEL {
	TEXT-ALIGN: right; MARGIN: 0px 5px 0px 0px; WIDTH: 12.5em; DISPLAY: block; FLOAT: left; FONT-SIZE: 1.1em
}
.cardInfo LABEL.inline {
	TEXT-ALIGN: left; WIDTH: auto; DISPLAY: inline; FLOAT: none
}
.cardInfo INPUT.text {
	MARGIN: 0px 2px
}
.cardInfo INPUT.small {
	WIDTH: 3em
}
.cardInfo INPUT.small2 {
	WIDTH: 8.5em
}
.cardInfo INPUT.medium {
	WIDTH: 19em
}
.cardInfo INPUT.big {
	WIDTH: 28em
}
.cardInfo SMALL {
	FONT-SIZE: 0.9em
}
.cardInfo .boxMoreInfo .box6 {
	WIDTH: 23.5em; FONT-SIZE: 1.1em; TOP: 2.5em !important; LEFT: -11.2em
}
.createEditAddress .boxMoreInfo .box6 {
	WIDTH: 23.5em; FONT-SIZE: 1.1em; TOP: 2.5em !important; LEFT: -11.2em
}
.cardInfo .boxMoreInfo .box6A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 1em; PADDING-RIGHT: 1em; PADDING-TOP: 2em
}
.createEditAddress .boxMoreInfo .box6A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 1em; PADDING-RIGHT: 1em; PADDING-TOP: 2em
}
.titleCard {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 52px; PADDING-RIGHT: 0px; BACKGROUND: url(../img/bgTitleCartao.gif) no-repeat 10px 0px; PADDING-TOP: 2px
}
.titleCard P {
	MARGIN: 0px; PADDING-LEFT: 5px; FONT-SIZE: 1.2em
}
.buttons {
	MARGIN: 10px 5px; BACKGROUND: url(../img/bgDotted1.gif) repeat-x left top; CLEAR: both; OVERFLOW: hidden
}
.buttons2 {
	TEXT-ALIGN: center; MARGIN: 10px 5px; BACKGROUND: url(../img/bgDotted1.gif) repeat-x left top; OVERFLOW: hidden; PADDING-TOP: 10px
}
.buttons3 {
	MARGIN-TOP: 10px
}
.buttons .type2 {
	WIDTH: auto
}
.tipBox {
	MARGIN: 0px 20px
}
.tipBox .rc1 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 10px; BACKGROUND: url(../img/tipRoundBox.png) no-repeat right bottom; PADDING-TOP: 0px
}
.tipBox .rc2 {
	PADDING-BOTTOM: 25px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: url(../img/tipRoundBox.png) no-repeat 0px bottom; PADDING-TOP: 0px
}
.tipBox .rc3 {
	PADDING-BOTTOM: 0px; MARGIN: 0px -10px 0px 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 10px; BACKGROUND: url(../img/tipRoundBox.png) no-repeat right 0px; PADDING-TOP: 0px
}
.tipBox .rc4 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; BACKGROUND: url(../img/tipRoundBox.png) no-repeat 0px 0px; OVERFLOW: hidden; PADDING-TOP: 10px
}
.tipBox .rc5 {
	OVERFLOW: hidden
}
.confirmCart .parcel {
	PADDING-BOTTOM: 25px; PADDING-LEFT: 25px; PADDING-RIGHT: 25px; PADDING-TOP: 25px
}
.titleCart {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 52px; PADDING-RIGHT: 0px; BACKGROUND: url(../img/bgTitleCarrinho.gif) no-repeat 10px 0px; PADDING-TOP: 2px
}
.titleCart P {
	MARGIN: 0px; PADDING-LEFT: 5px; FONT-SIZE: 1.2em
}
DIV.roundCornerTL1 {
	ZOOM: 1; BACKGROUND: url(../img/roundCornerTL1.gif) #dfedf7 no-repeat 0px 0px
}
DIV.roundCornerTR1 {
	BACKGROUND: url(../img/roundCornerTR1.gif) no-repeat right 0px
}
DIV.roundCornerBL1 {
	BACKGROUND: url(../img/roundCornerBL1.gif) no-repeat 0px bottom
}
DIV.roundCornerBR1 {
	PADDING-BOTTOM: 2em; PADDING-LEFT: 1.2em; PADDING-RIGHT: 1.2em; BACKGROUND: url(../img/roundCornerBR1.gif) no-repeat right bottom; PADDING-TOP: 1.5em
}
DIV.roundCornerBR1:after {
	LINE-HEIGHT: 0; DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; FONT-SIZE: 0px
}
.error2 DIV.roundCornerTL1 {
	ZOOM: 1; BACKGROUND: url(../img/roundCornerTL2.gif) #ffeded no-repeat 0px 0px
}
.error2 DIV.roundCornerTR1 {
	BACKGROUND: url(../img/roundCornerTR2.gif) no-repeat right 0px
}
.error2 DIV.roundCornerBL1 {
	BACKGROUND: url(../img/roundCornerBL2.gif) no-repeat 0px bottom
}
.error2 DIV.roundCornerBR1 {
	PADDING-BOTTOM: 2em; PADDING-LEFT: 1.2em; PADDING-RIGHT: 1.2em; ZOOM: 1; BACKGROUND: url(../img/roundCornerBR2.gif) no-repeat right bottom; PADDING-TOP: 1.5em
}
.error2 DIV.roundCornerBR1:after {
	LINE-HEIGHT: 0; DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; FONT-SIZE: 0px
}
.parcel {
	POSITION: relative
}
.parcel LABEL {
	COLOR: #666; FONT-SIZE: 1.2em; FONT-WEIGHT: bold
}
.parcel DIV.roundCornerBR1 {
	TEXT-ALIGN: center
}
.parcel DIV.roundCornerBR2 {
	TEXT-ALIGN: center
}
.parcel FIELDSET .parcelConfig {
	DISPLAY: inline
}
.parcel FIELDSET .doubt {
	TEXT-ALIGN: center; MARGIN-TOP: 5px; DISPLAY: block
}
.parcel FIELDSET .doubt A {
	TEXT-DECORATION: underline
}
.parcel .tipBox {
	DISPLAY: none
}
.error2 {
	OVERFLOW: visible
}
.error2 FIELDSET .parcelConfig {
	POSITION: relative
}
.error2 .tipBox {
	POSITION: absolute; WIDTH: 100%; DISPLAY: block; TOP: -90px; LEFT: -25%
}
.error2 .tipBox .messageBox {
	PADDING-BOTTOM: 10px; MARGIN: 0px 20px; PADDING-LEFT: 40px; PADDING-RIGHT: 0px; FONT-SIZE: 0.8em; PADDING-TOP: 10px
}
.error2 .tipBox .warning {
	BACKGROUND: url(../img/icoWarning.png) no-repeat 0px center
}
.error2 .tipBox .messageBox P {
	MARGIN: 0px; COLOR: #666; FONT-SIZE: 1.1em
}
.error2 DIV.roundCornerBR1 .tipBox {
	TEXT-ALIGN: left
}
.error2 DIV.roundCornerBR2 .tipBox {
	TEXT-ALIGN: left
}
.parcelConfig {
	ZOOM: 1
}
.parcelConfig .tipBox {
	WIDTH: 380px
}
.confirmCart .table01 {
	POSITION: relative; MARGIN-TOP: 25px
}
.table01 {
	MARGIN: 0px auto 10px; WIDTH: 100%; BACKGROUND: url(../img/bgTb1Cont.gif) #fff repeat-x 0px 25px; BORDER-TOP: #d8d8d8 1px solid
}
.table01 .col02 {
	WIDTH: 10%
}
.table01 .col03 {
	WIDTH: 20%
}
.table01 .col04 {
	WIDTH: 10%
}
.table01 TFOOT TH {
	TEXT-ALIGN: right; PADDING-BOTTOM: 2px; PADDING-LEFT: 5px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; FONT-WEIGHT: normal; PADDING-TOP: 2px
}
.table01 TFOOT TD {
	TEXT-ALIGN: right; PADDING-BOTTOM: 2px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FONT-SIZE: 12px; PADDING-TOP: 2px
}
.table01 .thead TD {
	BORDER-BOTTOM: #f7f7f7 1px solid; BORDER-LEFT: #f7f7f7 0px solid; BACKGROUND: url(../img/bgTb1Head.gif) #d8d8d8 repeat-x 0px 0px; BORDER-TOP: #f7f7f7 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #f7f7f7 0px solid
}
.table01 .thead TD.first {
	PADDING-LEFT: 20px
}
.table01 TD {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 1.2em; PADDING-TOP: 5px
}
.table01 U A {
	COLOR: #666
}
.table01 .firstLine TD {
	PADDING-TOP: 15px
}
.table01 .firstLine TH {
	PADDING-TOP: 15px
}
.table01 .left {
	TEXT-ALIGN: left
}
.table01 .right {
	TEXT-ALIGN: right
}
.table01 .center {
	TEXT-ALIGN: center
}
.table01 .giftBox {
	TEXT-ALIGN: center
}
.table01 .giftBox .icon {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 25px; PADDING-RIGHT: 0px; BACKGROUND: url(../img/icoGift.png) no-repeat 0px center; PADDING-TOP: 5px
}
.table01 .price {
	TEXT-ALIGN: right; WHITE-SPACE: nowrap; COLOR: #0082d6
}
.table01 .type01 .price {
	COLOR: #009e25
}
.table01 TFOOT .firstLine TH {
	POSITION: relative; BACKGROUND: url(../../img/bgDotted.gif) repeat-x 0px 0px
}
.table01 TFOOT .firstLine TD {
	POSITION: relative; BACKGROUND: url(../../img/bgDotted.gif) repeat-x 0px 0px
}
.table01 .subtotal TD {
	POSITION: relative; BACKGROUND: url(../../img/bgDotted.gif) repeat-x 0px 0px
}
.table01 .subtotal TH {
	POSITION: relative; BACKGROUND: url(../../img/bgDotted.gif) repeat-x 0px 0px
}
.table01 .type01 TD {
	POSITION: relative; BACKGROUND: url(../../img/bgDotted.gif) repeat-x 0px 0px
}
.table01 .type01 TH {
	POSITION: relative; BACKGROUND: url(../../img/bgDotted.gif) repeat-x 0px 0px
}
.table01 .error TD {
	BACKGROUND-COLOR: #ffeded
}
.table01 .error TH {
	BACKGROUND-COLOR: #ffeded
}
.table01 .error .price {
	COLOR: #666
}
.table01 .text {
	MARGIN: 0px 5px; WIDTH: 50%
}
.table01 .btnOk {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; TEXT-INDENT: 30px; WIDTH: 30px; BACKGROUND: url(../../img/imgOk.gif) no-repeat 0px 0px; HEIGHT: 16px; VERTICAL-ALIGN: middle; OVERFLOW: hidden; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.table01 .total TD {
	TEXT-TRANSFORM: uppercase; FONT-SIZE: 17px; FONT-WEIGHT: bold
}
.table01 .total TH {
	TEXT-TRANSFORM: uppercase; FONT-SIZE: 17px; FONT-WEIGHT: bold
}
.table01 .subtotal TH {
	FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.table01 .type01 TH {
	FONT-SIZE: 12px; FONT-WEIGHT: bold
}
#content .table01 U {
	TEXT-DECORATION: none
}
#content .table01 .text {
	COLOR: #666; FONT-SIZE: 12px
}
.wrapError {
	POSITION: relative; MARGIN-TOP: -2.8em; PADDING-TOP: 2.8em
}
.wrapError .tipBox {
	POSITION: absolute; WIDTH: 70%; DISPLAY: none; TOP: -100%; LEFT: 15%
}
.table01 .error .tipBox {
	DISPLAY: block
}
.wrapError .tipBox .rc5 {
	HEIGHT: 4em
}
.wrapError .tipBox .messageBox {
	PADDING-BOTTOM: 10px; MARGIN: 0px 20px; PADDING-LEFT: 40px; PADDING-RIGHT: 0px; FONT-SIZE: 0.8em; PADDING-TOP: 10px
}
.wrapError .tipBox .warning {
	BACKGROUND: url(../img/icoWarning.png) no-repeat 0px center
}
.wrapError .tipBox .messageBox P {
	MARGIN: 0px; FONT-SIZE: 1.1em
}
.wrapError .tipBox {
	TOP: -160%
}
.table01 .btnOk {
	LINE-HEIGHT: 0; FONT-SIZE: 0px
}
.list9 {
	ZOOM: 1
}
.list9 LI {
	ZOOM: 1
}
.list9 LI LABEL {
	ZOOM: 1
}
.list10 {
	ZOOM: 1
}
.tipBox .rc04 {
	ZOOM: 1
}
.tipBox .rc5 {
	ZOOM: 1
}
.columnsBox {
	ZOOM: 1
}
.columnsBox .col01 {
	ZOOM: 1
}
.columnsBox .col02 {
	ZOOM: 1
}
.giftBoxSelection {
	ZOOM: 1
}
.orderConfig {
	ZOOM: 1; OVERFLOW: hidden
}
.orderConfig .addressList .title16 {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 45px
}
.orderConfig .cardList .title16 {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 45px
}
.orderConfig .addressList .description {
	COLOR: #666; FONT-SIZE: 1.2em
}
.orderConfig .cardList .description {
	COLOR: #666; FONT-SIZE: 1.2em
}
.orderConfig .cardData {
	MARGIN-LEFT: 45px
}
.orderConfig .addressData {
	MARGIN-LEFT: 45px
}
.orderConfig .cardData2 SPAN {
	FONT-SIZE: 1.1em
}
.orderConfig ADDRESS SPAN {
	FONT-SIZE: 1.1em
}
.orderConfig .cardList {
	MIN-HEIGHT: 130px; BACKGROUND: url(../img/bgVertLine1.gif) no-repeat left center
}
.orderConfig .editItem {
	MARGIN-TOP: 5px; DISPLAY: block; CLEAR: both
}
.confirmCart .titleCart P {
	COLOR: #0082d6
}
.confirmCart .buttons {
	MARGIN: 15px
}
.confirmCart .important {
	MARGIN-BOTTOM: 40px; COLOR: #a3a3a3
}
.confirmCart .important STRONG {
	COLOR: #f66
}
.giftBoxInfo {
	PADDING-BOTTOM: 0px; MARGIN: 0px 45px 20px; MIN-HEIGHT: 24em; PADDING-LEFT: 0px; PADDING-RIGHT: 340px; ZOOM: 1 !important; BACKGROUND: url(../img/giftBoxBg.jpg) no-repeat right 0px; HEIGHT: 24em; PADDING-TOP: 10px
}
.giftBoxInfo P {
	FONT-SIZE: 1.1em
}
.columnsBox {
	POSITION: relative; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; OVERFLOW: hidden; PADDING-TOP: 0px
}
.confirmCart .important STRONG {
	COLOR: #f66
}
.titleGiftBox {
	PADDING-BOTTOM: 15px; PADDING-LEFT: 52px; PADDING-RIGHT: 0px; BACKGROUND: url(../img/bgTitle_giftBox.gif) no-repeat 10px 0px; PADDING-TOP: 2px
}
#lightwindow_contents .messageBox {
	PADDING-BOTTOM: 10px; MARGIN: 0px 20px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 10px
}
#lightwindow_contents .warning {
	PADDING-LEFT: 60px; BACKGROUND: url(../img/icoWarning2.gif) no-repeat 0px center
}
#lightwindow_contents .messageBox P {
	MARGIN: 0px; FONT-SIZE: 1.2em
}
#lightwindow_contents .warning2 {
	TEXT-ALIGN: center
}
#lightwindow_contents .warning2 P {
	TEXT-ALIGN: center
}
#lightwindow_contents .warning2 .buttons {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.columnsBox .col01 {
	POSITION: relative; WIDTH: 50%; FLOAT: left; OVERFLOW: hidden
}
.columnsBox .col02 {
	POSITION: relative; WIDTH: 50%; FLOAT: left; OVERFLOW: hidden
}
.giftOptions {
	ZOOM: 1 !important; OVERFLOW: hidden; PADDING-TOP: 40px
}
.columnsBox .col01 {
	LEFT: -10px
}
.giftOptions .col01 {
	WIDTH: 60%
}
.giftOptions .col02 {
	WIDTH: 40%
}
.giftOptions TEXTAREA {
	MARGIN: 0px 0px 10px; WIDTH: 95%; HEIGHT: 100px
}
.giftOptions .giftBoxSelection {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 11.5em; PADDING-RIGHT: 0px; OVERFLOW: hidden; PADDING-TOP: 0px
}
.giftBoxSelection .image {
	MARGIN: 0px 0px 0px -11.5em; FLOAT: left
}
.giftOptions .title9 {
	MARGIN: 0px 0px 15px; FONT-WEIGHT: normal
}
.giftOptions INPUT {
	VERTICAL-ALIGN: middle
}
.giftOptions .gift {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 20px; PADDING-RIGHT: 0px; BACKGROUND: url(../img/icoGift2.png) no-repeat 0px center; PADDING-TOP: 0px
}
.giftOptions .list10 {
	MARGIN: 0px 0px 15px
}
.giftOptions P {
	MARGIN: 0px 0px 10px
}
.giftOptions LABEL {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 20px; FONT-SIZE: 1.1em; PADDING-TOP: 0px
}
.giftQuestion A {
	COLOR: #0082d6; FONT-SIZE: 1.1em
}
.charCounter {
	FONT-SIZE: 1.1em
}
.charCounter SPAN {
	BORDER-BOTTOM: #b8b8b8 1px solid; BORDER-LEFT: #b8b8b8 1px solid; PADDING-BOTTOM: 1px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; BACKGROUND: #f0f0f0; BORDER-TOP: #b8b8b8 1px solid; BORDER-RIGHT: #b8b8b8 1px solid; PADDING-TOP: 1px
}
.customerInfo .text {
	PADDING-BOTTOM: 10px
}
.customerInfo #area11 {
	BACKGROUND-IMAGE: none; ZOOM: 1; PADDING-TOP: 0px
}
.customerInfo #Form1 {
	PADDING-BOTTOM: 0px
}
.customerInfo .config .label {
	TEXT-ALIGN: right; WIDTH: 29.5%; FLOAT: left; MARGIN-RIGHT: 5px
}
.customerInfo .boxMoreInfo .box6 {
	LEFT: -13.5em
}
.customerInfo .buttons {
	MARGIN: 15px
}
.tdType1 {
	BACKGROUND: url(../img/bg_mail.gif) no-repeat 26% 18px; BORDER-TOP: #a5a5a5 1px dotted
}
.tdType1 STRONG {
	DISPLAY: block
}
.tdType1 A {
	DISPLAY: block
}
.tdType1 A {
	TEXT-DECORATION: underline
}
.tdType1 DIV {
	POSITION: relative; PADDING-TOP: 15px; LEFT: 30.5%
}
.tdType2 {
	ZOOM: 1; OVERFLOW: hidden
}
.tdType2 .box1Click {
	FLOAT: right; MARGIN-RIGHT: 10px
}
.tdType3 {
	WIDTH: 165px
}
.tdType3 #btnCloseOrder1 {
	WIDTH: 165px; FLOAT: right
}
.tdType4 {
	WIDTH: 100%
}
#tblButtonLower .buttons {
	MARGIN-BOTTOM: 0px
}
.customerInfo .text {
	FONT-SIZE: 11px
}
.customerInfo#formClick {
	MARGIN-TOP: -100px; MARGIN-LEFT: 30px
}
.customerInfo#formClick TABLE.text TD {
	OVERFLOW: visible
}
#htbMeuCadastro {
	MARGIN-TOP: -50px; BACKGROUND: none transparent scroll repeat 0% 0%
}
.customerInfo #area11 {
	BACKGROUND: url(../img/header_cadastro.png) #fff no-repeat; PADDING-TOP: 50px
}
.customerInfo #imaMeuCadastro {
	DISPLAY: none
}
.customerInfo #ucCustomerInfo_rbtFisica {
	MARGIN-RIGHT: 5px
}
.customerInfo #ucCustomerInfo_rbtJuridica {
	MARGIN-RIGHT: 5px
}
.customerInfo #imaMeuCadastro {
	MARGIN-LEFT: 10px
}
.customerInfo #imaTitMeuEndereco {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; BACKGROUND: url(../img/imgMyAddress.gif) repeat-x left bottom; HEIGHT: 52px; PADDING-TOP: 0px
}
.customerInfo TABLE.text TD.text {
	POSITION: relative; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.customerInfo TABLE.text SPAN.text {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 10px; PADDING-TOP: 0px
}
.customerInfo * {
	VERTICAL-ALIGN: middle
}
.customerInfo #htbForm {
	WIDTH: 100% !important; BORDER-COLLAPSE: collapse !important
}
.customerInfo #ucCustomerAddress_tdCEP_L {
	PADDING-BOTTOM: 6px; PADDING-LEFT: 0px; PADDING-RIGHT: 15px; BACKGROUND: url(../img/bgSetaCep.gif) no-repeat right top; PADDING-TOP: 4px
}
.customerInfo #imbButContinue {
	MARGIN-RIGHT: 10px
}
.customerInfo INPUT.text {
	BORDER-BOTTOM: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; MARGIN-BOTTOM: 5px; BORDER-TOP: #cccccc 1px solid; MARGIN-RIGHT: 5px; BORDER-RIGHT: #cccccc 1px solid; PADDING-TOP: 2px
}
.customerInfo SELECT.text {
	BORDER-BOTTOM: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; MARGIN-BOTTOM: 5px; BORDER-TOP: #cccccc 1px solid; MARGIN-RIGHT: 5px; BORDER-RIGHT: #cccccc 1px solid; PADDING-TOP: 2px
}
.customerInfo TABLE.text A {
	DISPLAY: inline
}
SPAN.text {
	DISPLAY: inline
}
#formClick BR {
	DISPLAY: block
}
#formClick #htbMeuCadastro {
	MARGIN: 0px
}
#formClick #htbForm {
	MARGIN: 30px 0px
}
#formClick A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #0082d6; PADDING-TOP: 0px
}
#formClick #htbMeuEndereco {
	MARGIN-TOP: -20px
}
#formClick .buttons {
	MARGIN-TOP: 40px
}
#formClick #ucCustomerAddress_hlkDistrito {
	MARGIN: 2px 0px 7px 8px; DISPLAY: block
}
#formClick A.type2 {
	MARGIN-RIGHT: 10px
}
#createCardClick {
	MARGIN-LEFT: 30px; FONT-SIZE: 62.5%
}
#titleClick {
	PADDING-BOTTOM: 10px; MARGIN-TOP: 20px; PADDING-LEFT: 52px; PADDING-RIGHT: 0px; BACKGROUND: url(../img/bgTitleClick.gif) no-repeat 10px 0px; PADDING-TOP: 2px
}
#titleClick P {
	FONT-SIZE: 11px
}
#titleClick UL LI {
	DISPLAY: inline; FONT-SIZE: 14px
}
#titleClick UL LI A {
	COLOR: #666666
}
#titleClick UL LI .title26 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: inline; FONT-SIZE: 16px; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
#formClick #htbMeuEndereco {
	MARGIN-TOP: 20px
}
#addrCreditCard {
	MARGIN-LEFT: 30px; FONT-SIZE: 62.5%
}
#createAddress {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 26px; PADDING-RIGHT: 0px; FONT-SIZE: 62.5%; PADDING-TOP: 10px
}
#createAddress {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 26px; PADDING-RIGHT: 0px; FONT-SIZE: 62.5%; PADDING-TOP: 10px
}
#content {
	OVERFLOW: visible
}
#area1 #area1C {
	OVERFLOW: visible
}
#content #area11 {
	OVERFLOW: visible
}
.statusPageList {
	OVERFLOW: visible
}
.activeConfirmation {
	OVERFLOW: visible
}
.createEditAddress {
	OVERFLOW: visible
}
.createEditCard {
	OVERFLOW: visible
}
.parcel {
	OVERFLOW: visible
}
.customerInfo#content #Form1 {
	OVERFLOW: visible
}
.giftForm {
	OVERFLOW: visible
}
#content:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; FONT-SIZE: 0px
}
#area1 #area1C:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; FONT-SIZE: 0px
}
#content #area11:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; FONT-SIZE: 0px
}
.statusPageList:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; FONT-SIZE: 0px
}
.activeConfirmation:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; FONT-SIZE: 0px
}
.createEditAddress:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; FONT-SIZE: 0px
}
.createEditCard:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; FONT-SIZE: 0px
}
.parcel:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; FONT-SIZE: 0px
}
.customerInfo#content #Form1:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; FONT-SIZE: 0px
}
.giftForm:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; FONT-SIZE: 0px
}
A .boxMoreInfo .moreInfo {
	PADDING-RIGHT: 0px; TEXT-DECORATION: none
}
#footer {
	POSITION: static
}
#lkbOneclick IMG {
	VERTICAL-ALIGN: top
}
#lkbOneClick2 IMG {
	VERTICAL-ALIGN: top
}
#ucOneClickCardAdd1_cbIsCvc {
	MARGIN-RIGHT: 3px
}
.content1Click {
	ZOOM: 1
}
.box1Click {
	ZOOM: 1
}
.confirmCart .parcel FIELDSET {
	POSITION: relative; PADDING-RIGHT: 270px
}
.confirmCart .parcel A.type2 {
	POSITION: absolute; WIDTH: 193px; HEIGHT: 36px; OVERFLOW: hidden; TOP: 0px; RIGHT: 40px
}
.doubtInfo {
	POSITION: relative; COLOR: #666; TEXT-DECORATION: none
}
.createEditAddress .doubtInfo {
	POSITION: relative; COLOR: #666; TEXT-DECORATION: none
}
.doubtInfo:hover {
	TEXT-DECORATION: none
}
.createEditAddress .doubtInfo:hover {
	TEXT-DECORATION: none
}
.topHd .topTitle {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 15px; PADDING-RIGHT: 0px; PADDING-TOP: 5px
}
.topHd .topTitle A {
	FLOAT: left; MARGIN-RIGHT: 25px
}
.topHd .topTitle INPUT {
	FLOAT: left; MARGIN-RIGHT: 25px
}
.topHd .topTitle P {
	MARGIN: 4px 0px; FONT-SIZE: 12px
}
.msgDescnt .msgTx {
	PADDING-LEFT: 40px; BACKGROUND: url(../img/icoAlert.gif) no-repeat left center; FONT-SIZE: 16px; FONT-WEIGHT: bold
}
.msgDescnt .msgTx SPAN {
	DISPLAY: block; FONT-SIZE: 11px; FONT-WEIGHT: normal
}
.msgDescnt .msgTx SPAN A {
	COLOR: #666666 !important; TEXT-DECORATION: underline
}
DIV.rcTL1 {
	ZOOM: 1; BACKGROUND: url(../img/rcTL1.gif) #fffacc no-repeat 0px 0px
}
DIV.rcTR1 {
	BACKGROUND: url(../img/rcTR1.gif) no-repeat right 0px
}
DIV.rcBL1 {
	BACKGROUND: url(../img/rcBL1.gif) no-repeat 0px bottom
}
DIV.rcBR1 {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: url(../img/rcBR1.gif) no-repeat right bottom; PADDING-TOP: 5px
}
DIV.rcBR1:after {
	LINE-HEIGHT: 0; DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; FONT-SIZE: 0px
}
.msgDescnt {
	MARGIN: 0px 20px 20px
}
.msgDescnt .msgDescBox {
	MARGIN: 0px auto; WIDTH: 710px
}
#ucOneClickBasketDetail1_trCoupon TH.right {
	COLOR: #178e07
}
#ucOneClickBasketDetail1_trCoupon TD.price {
	COLOR: #178e07
}
